{{> head }}
{{> navbar }}

<div class="row">
    <div class="col-8">
        <h1> Lorem ipsum dolor sit amet consec</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Praesentium architecto fuga iure totam facere vero dolore perferendis debitis aut impedit,
            error obcaecati aliquid corporis officiis magnam odio eius quae sequi.</p>
        <div class="col-4">
            <img src="/assets/img/image-src.png" class="img-thumbnail">
        </div>
    </div>


    {{> footer }}